// COLORS
$primary-color: #1C1B1A;
$secondary-color: #2985F7;
$header-border-color: rgba(28, 27, 26, 0.07);
$main-border-color: rgba(28, 27, 26, 0.1);
$main-block-color: rgba(28, 27, 26, 0.05);
$main-disable-element-color: rgba(28, 27, 26, 0.4);
$logo-gradient: linear-gradient(to right, #0B3997 2.76%,#2B8AFF 98.34%);
$gold-star-color: #FFC000;
$disable-star-color: rgba(28, 27, 26, 0.15);
$level-platinum-color: #808080;
$level-gold-color: #E79124;
$level-silver-color: #98B1B5;
$level-bronze-color: #963C11;
$level-catastophic-color: #CA1D25;
$help-color: #E4F0FF;
$footer-color: rgba(0, 0, 0, 0.7);


// FONTS/
$primary-font:  'Open Sans', sans-serif;

// TIME
$animation-time: 0.3s;

