// COLORS
$primary-color: #1C1B1A;
$baseSize: 360px;
$baseColor: #bbb;
$btnSize: $baseSize * 0.875;
$btnColor: #444;
$btnRadius: $baseSize / 15;
$txtColor: #f80;
$transTime: 0.05s;
// FONTS/
$primary-font:  'Open Sans', sans-serif;

// TIME
$animation-time: 0.3s;

