// COLORS
$primaryColor: #ff3b30;
$secondaryColor: #8b93a3;
$primary-color: #1C1B1A;
$baseSize: 240px;
$baseColor: #bbb;
$btnSize: $baseSize * 0.875;
$btnColor: #333;
$btnRadius: $baseSize / 15;
$logoColor: #ff5607;

// FONTS/
$primary-font:  'Open Sans', sans-serif;

// TIME
$animationTime: 0.3s;
$animationTimeBtn: 0.05s;

